<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StyleShare Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      table {
        width: 100%;
        border: 1px solid #444444;
      }
      th, td {
        border: 1px solid #444444;
      }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>상품명</th>
        <th>입점사</th>
        <th>옵션명</th>
        <th>배송비</th>
        <th>묶음 가능여부</th>
        <th>상품 가격</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="cart : ${cartList}">
        <tr>
            <td>[[ ${cart.name} ]]</td>
            <td>[[ ${cart.provider} ]]</td>
            <td>size : [[ ${cart.optionSize }]] , color : [[ ${cart.optionColor} ]]</td>
            <td>[[ ${cart.shippingPrice }]]</td>
            <td>[[ ${cart.shippingCanBundle }]]</td>
            <td>[[ ${cart.price }]]</td>
            <td><input type="text" class="stock" th:value="${cart.stock}"/><button class="updateStock" th:data-cart-id="${cart.id}" th:data-previous-stock="${cart.stock}">수정</button></td>
        </tr>
    </th:block>
    최종 금액 : [[ ${cartPrice} ]]
    </tbody>
</table>
<br />
<button onclick="location.href='/'">상품리스트 가기</button>

</body>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function(){
        $(".updateStock").on('click', function(){
            var cartId = $(this).data("cart-id")
            var previousStock = $(this).data("previous-stock")
            var stock = $(this).parent("td").find("input[type=text]").val()

            var isNum = /^[0-9]+$/
            console.log(stock)
            if(!isNum.test(stock)) {
                alert("숫자만 사용 가능합니다.")
                return
            }

            $.ajax({
                url : "/updateStock?id=" + cartId + "&stock=" + parseInt(stock,10) + "&previousStock=" + previousStock
            }).done(function(result){
                alert("수량이 변경되었습니다.")
                location.reload()
            }).fail(function(result){
                alert(result.responseText)
            })
        });
    })
</script>
</html>