<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StyleShare Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      table {
        width: 100%;
        border: 1px solid #444444;
      }
      th, td {
        border: 1px solid #444444;
      }
    </style>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>상품명</th>
            <th>옵션명</th>
            <th>재고</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="good : ${goodList}">
            <tr>
                <td>[[ ${good.name} ]]</td>
                <td>size : [[ ${good.optionSize }]] , color : [[ ${good.optionColor} ]]</td>
                <td class="optionStock">[[ ${good.optionStock }]]</td>
                <td><button class="addCart" th:data-good-id="${good.id}" th:data-option-id="${good.optionId}">장바구니 담기</button></td>
            </tr>
        </th:block>
    </tbody>
</table>
<br />
<button onclick="location.href='/cart'">장바구니 가기</button>

</body>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function(){
        $(".addCart").on('click', function(){
            var goodId = $(this).data("good-id")
            var optionId = $(this).data("option-id")
            $.ajax({
                url : "/insertCart?optionId=" + optionId + "&goodId=" + goodId
            }).done(function(result){
                alert("장바구니에 상품이 담겼습니다.")
                location.reload()
            }).fail(function(result){
                alert(result.responseText)
            })
        });
    })
</script>
</html>